@import "tailwindcss";

@font-face {
    font-family: 'Flao';
    src: url('/src/assets/fonts/NotoSansLao-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FEn';
    src: url('/src/assets/fonts/MadimiOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'FEn', 'Flao', sans-serif !important;
}